.FooterBody {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 702px;
    background-color: #495E57;
    width: 100%;
    font-size: 20px;
    
}

.FooterColumns {
    display: flex;
}

.FooterLink {
    text-decoration: none;
    margin-top: 10px;
}

.FooterLinks, .li {
    list-style-type: none;
    text-decoration: none;
    color: white;
    line-height: 40px;
}

.react-icons {
    color: black;
}

li {
    margin: 0 20px 0 20px;

}