.highlight {
   
    margin: 50px;
}

.highlightCards, p{
    display: flex;
    justify-content: center;
    gap: 100px;
    color: black;
    
}

.highlightCard {
    background-color: grey;
    border-radius: 15px;
    padding-bottom: 30px;
}

img {
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

