.reviewSection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 30em;
   
}

.reviewTitle {
    display: flex;
    justify-content: center;
}

.reviewCards {
    display: flex;
    gap: 100px;

}

.reviewComponent {
    border-radius: 10px;
    justify-items: center;
    align-content: center;
    background-color: #495E57;
    padding: 1em 1em 1em 1em;
}

.reviewerDesc {
    
    margin-bottom: 1em;
}